/ {
    ultrason0: hc-sr04 {
    compatible = "zephyr,hc-sr04";
    trig-gpios = <&gpiog 5 GPIO_ACTIVE_HIGH>;
    echo-gpios = <&gpiog 4 GPIO_ACTIVE_HIGH>;
    status = "okay";
    };

    leds {
        // Add Trigger on PG5
        hcsr04_trigger: hcsr04_trig {
            gpios = <&gpiog 5 GPIO_ACTIVE_LOW>;
        };
        hcsr04_echo: hcsr04_ech {
            gpios = <&gpiog 4 GPIO_ACTIVE_LOW>;
        };
    };

    servo: servo {
        compatible = "pwm-servo";
        pwms = <&pwm1 3 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
    };
    
    aliases {
        ultrasonictrigger = &hcsr04_trigger;
        ultrasonicecho = &hcsr04_echo;
    };

    chosen {
    perso,bme680 = &bme680;
    };
};

&i2c3 {
    bme680: bme680@77 {
        compatible = "bosch,bme680";
        reg = <0x77>;
        label = "BME680";
    };
};

&timers1 {
    status = "okay";
    st,prescaler = <1000>;

    pwm1: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch3_pe13>;
        pinctrl-names = "default";
    };
};