/ {
    leds {
        hcsr04_trigger: hcsr04_trig {
            gpios = <&gpiog 5 GPIO_ACTIVE_HIGH>;  
        };
        hcsr04_echo: hcsr04_ech {
            gpios = <&gpiog 4 GPIO_ACTIVE_HIGH>; 
        };
    };

    aliases {
        ultrasonictrigger = &hcsr04_trigger;
        ultrasonicecho = &hcsr04_echo;
    };

    chosen {
        perso,bme680 = &bme680;
    };

    servo: servo {
        compatible = "pwm-servo";  
        pwms = <&pwm13 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(900)>;
        max-pulse = <PWM_USEC(2100)>;
    };
};

&i2c3 {
    bme680: bme680@77 {
        compatible = "bosch,bme680";
        reg = <0x77>;
        label = "BME680";
    };
};

&timers13 {
    status = "okay";
    st,prescaler = <1000>;

    pwm13: pwm {
        status = "okay";
        pinctrl-0 = <&tim13_ch1_pf8>;
        pinctrl-names = "default";
    };
};

